body{
    background-color: bisque;
    border: 12px solid yellowgreen;
}


.maiin {
    background-color: antiquewhite;
    width: 900px;
    height: 600px;
    margin: auto;
    margin-top: 20px;
    padding: 5px;
    border: 10px solid yellowgreen;
   
 
}



#fourth{
    background-color:lightcoral;
    width:900px;
    height:110px;
    text-align: center;
    font-size: 30px;
    font-weight:bold;
   color: rgb(43, 226, 80);
  }
  
  #third{
    background-color:lightcoral;
    width:900px;
    height:110px;
    text-align: center;
    font-size: 30px;
    font-weight:bold;
   color: blueviolet;

  }

 
  #second{
    background-color:lightcoral;
    width:900px;
    height:110px;
    text-align: center;
    font-size: 30px;
    font-weight:bold;
   color: red;
}

h1{
    background-color: aquamarine;
    border: 2px solid yellowgreen;
    text-align: center;
}

#final {
  margin: 0 auto;
}